/* styles.css */
*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  background-color: #a15151;
}

h1 {
    text-align: center;
    color: #ffe4e1;
    font-size: 3rem;
    margin-bottom: 3rem;
}

p {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


.row {
    max-width: 1170px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 20px 30px;
}

.left {
    overflow: hidden;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    display: flex;
    align-items: center;
}

button {
    border: none;
    padding: 10px;
    background-color: white;
    font-size: 2rem;
    color:#a15151;
    transition: all 0.5s ease;
}

button:hover {
    color: white;
    background-color: #db8482;
}

