/* styles.css */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  /* background-color: red; */
}

h1 {
    text-align: center;
}

p {
    font-size: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

img {
    max-width: 400px;
}