/* styles.css */
*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  /* background-color: red; */
}

h1 {
    text-align: center;
}

p {
    font-size: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


.row {
    max-width: 1170px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 20px 30px;
}

.left {
    overflow: hidden;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    display: flex;
    align-items: center;
}

